@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');

.buttons {
    text-decoration: none;
}

.buttons-image {
    transition: all 0.5s;
}

.buttons-image:hover {
    transform: scale(1.2);
    filter: drop-shadow(10px 5px 4px rgba(0, 0, 0, 0.5));
    transition: all 0.5s;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(9,0,35);
        font-family: 'Sono', sans-serif;
        color: rgb(255,77,237);
        margin: 0;
        padding: 0;
        text-align: center;
    }
    a {
        color: #ff95f8;
        font-weight: bold;
    }
    footer {
        background-color:rgb(36,24,71);
        color: rgb(255,77,237);
        padding: 20px;
        text-align: center;
        margin-top: 40px;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color:rgb(252,181,242);
        font-family: 'Sono', sans-serif;
        color: rgb(43,43,43);
        margin: 0;
        padding: 0;
        text-align: center;
    }
    a {
        color: rgb(16,54,101);
        font-weight: bold;
    }
    footer {
        background-color:rgb(255,125,237);
        color: rgb(43,43,43);
        padding: 20px;
        text-align: center;
        margin-top: 40px;
    }
}

h2 {
    font-size: 28px;
    margin-top: 40px;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-left: 100;
    margin-right: 100;

}

ul {
    list-style: none;
    text-align: center;
    padding: 0px;
}

summary {
    text-decoration: underline;
    cursor: pointer
    
}

details {
    padding: 25px;
}
.nocentre {
    text-align: left
}

abbr[title] {
    cursor: help;
  }

.audio-image {
    cursor: pointer;
}
