---
description: silly site
title: "Eddsworld: Bang, boom, splat"
---
{% extends 'layouts/main.njk' %}
{% block page %}
<script src="https://unpkg.com/@ruffle-rs/ruffle"></script>
<embed src="/flash/bangboomsplat.swf" width="600" height="400">
<p><h2>Codes</h2>
<ul>
    <li>whysoserious - Unlocks Silly Mode. (Countdown voice changes) </li>
    <li>chrisbingbong - Unlocks "Bing Mode" (Game title changes to Bing, Boom, Splat! and you play as the evil director from Spares)</li>
    <li>telford - Unlocks unlimited ammo. (recommended for mobile players)</li>
    <li>callumhowarth - Unlocks all of the levels.</li>
	</ul></p>
{% endblock %}
