---
description: silly site
title: you are an idiot
---
{% extends 'layouts/main.njk' %}
{% block page %}
<p>
    <iframe src="/celeste" title="celeste classic" width="800" height="800"></iframe>
</p>
<p> <a href="/celeste">mobile optimised page</a>
{% endblock %}
