---
description: silly site
title: Hyakugojyuuichi Forever
---
{% extends 'layouts/main.njk' %}
{% block page %}
<p>
    <script src="https://unpkg.com/@ruffle-rs/ruffle"></script>
    <embed src="/flash/hyaku_forever.swf" width="600" height="400">
    </p> <br />
    ⚠ this animation has some cartoon blood/gore, and is very much a product of its time. id probably rate it a 13+, but be careful
{% endblock %}