---
description: silly site
title: Hyakugojyuuichi Forever
---
{% extends 'layouts/main.njk' %}
{% block page %}
<p>
    <script src="https://unpkg.com/@ruffle-rs/ruffle"></script>
    <embed src="/flash/hyaku_forever.swf" width="600" height="400">
    </p> <br />
    ⚠ this animation has some cartoon blood/gore, and is very much a product of its time (be prepared for edgy 2003 internet weird kid humor). <abbr title="dont trust my rating">id probably rate it a 13+</abbr>, but be careful
{% endblock %}