---
description: silly site
title: Hyakugojyuuichi Forever
---
{% extends 'layouts/main.njk' %}
{% block page %}
    <script src="https://unpkg.com/@ruffle-rs/ruffle"></script>
    <embed src="/flash/hyaku_forever.swf" width="600" height="400">
    <p>⚠ this animation has some cartoon blood/gore <br />
    be prepared for edgy 2003 internet weird kid humor</p>
{% endblock %}
