---
description: silly site
title: flash archive
---
{% extends 'layouts/main.njk' %}
{% block page %}
<h1>flash archive</h1>
<br />
<p>A couple of og flash games and animations i decided to host using ruffle</p><p>None are made by me and should have appropriate credits in the animation or on the page.</p>
<br /> 
<ul>
    <li><a href="./ultimateShowdown">The Ultimate Showdown Of Ultimate Destiny</a></li>
    <li><a href="./spares">Eddsworld: Spares</a></li>
    <li><a href="./bangboomsplat">Eddsworld: Bang, Boom, Splat!</a></li>
    <li><a href="./youareanidiot">free robux not clickbait working 2017</a></li>
    <li><a href="./learn2fly">Learn to Fly 2</a></li>
    <li><a href="./papasPizzeria">Papa's Pizzeria</a></li>
</ul>
{% endblock %}