---
description: silly site
title: Papa's Pizzeria
---
{% extends 'layouts/main.njk' %}
{% block page %}
    <script src="https://unpkg.com/@ruffle-rs/ruffle"></script>
    <embed src="/flash/papasPizzeria.swf" width="600" height="400">

{% endblock %}
