---
description: silly site
title: "Pyongyang Racer"
---
{% extends 'layouts/main.njk' %}
{% block page %}
    <script src="https://unpkg.com/@ruffle-rs/ruffle"></script>
    <embed src="/flash/pyracer/pyracer.swf" width="800" height="600">
{% endblock %}
