---
description: silly site
title: Swords and Sandals 2
---
{% extends 'layouts/main.njk' %}
{% block page %}
<p>
    <script src="https://unpkg.com/@ruffle-rs/ruffle"></script>
    <embed src="/flash/swordsandsandals2.swf" width="600" height="400">
    </p>
{% endblock %}