---
description: silly site
title: The Ultimate SHowdown of Ultimate Destiny
---
{% extends 'layouts/main.njk' %}
{% block page %}
<p>
    <script src="https://unpkg.com/@ruffle-rs/ruffle"></script>
    <embed src="/flash/ultimateShowdown.swf" width="600" height="400">
    </p>
{% endblock %}