---
description: silly site
title: oh no you did an oopsie
permalink: /404.html
---
{% extends 'layouts/main.njk' %}
{% block page %}
<p><h1>404: not found</h1></p>
<p>thats an error</p>
<p>hehe wom reference</p>
{% endblock %}