---
description: silly site
title: silly little page :3
---
{% extends 'layouts/main.njk' %}
{% block page %}
 <h1>welcome to the silly little page :3</h1>
    <marquee onmouseenter="this.stop()" onmouseleave="this.start()">anubis free because that's github's problem</marquee>
    <h2>hi! I'm Melody.<br /><br />a miniscule amount about me</h2>
    <ul>
        <li>i like <abbr title="not making it or anything; ive tried. im just an enjoyer.">music</abbr> <a href="https://open.spotify.com/playlist/5F58gGO1Wtp72Bgw8xkW6C" target="_blank">Here's a link to my spotify playlist!</a></li>
        <li>i like technology/hacking (though i don't know how to... yet)</li>
        <li>ultimate gamer</li>
				<li>i use arch btw</li>
				<li>im queer, if you couldn't tell</li>
    <h2>cool places i live at</h2>
    <ul>
        <li class="links"><a rel="me" href="https://possum.city/@silly" target="_blank">fedded verse</a></li>
				<li>whenthesilly on discord</li>
        <li class="links"><a href="https://github.com/whenthesilly" target="_blank">gitted hub</a></li>
				<!-- git lgbt goes here when i remember to make one-->
        <li class="links"><a href="https://scratch.mit.edu/users/whenthesilly/" target="_blank">scratch</a></li>
        <!-- <li class="links"><a href="https://en.pronouns.page/@whenthesilly" target="_blank">professional nouns</a></li> -->
    </ul>
    <h2>my projects (these are all unmaintained i need to find the motivation to work on stuff again)</h2>
    <ul>
        <li class="links"><a href="https://github.com/whenthesilly/whenthesilly.github.io">this website</a></li>
        <li class="links"><a href="https://github.com/whenthesilly/silly-discord-bot">my silly discord bot</a></li>
        <li class="links"><a href="https://github.com/whenthesilly/wasteof.py">wasteof python module</a></li>
    </ul>
    <br />
{% endblock %}
