---
description: silly site
title: silly little page :3
---
{% extends 'layouts/main.njk' %}
{% block page %}
 <h1>welcome to the silly little page :3</h1>

    <marquee onmouseenter="this.stop()" onmouseleave="this.start()">Use <abbr title="or netsurf, lily">firefox</abbr> and switch to linux, <abbr title="unless you already do, then ur cool as fuck">loser</abbr></marquee>
    <h2>hi! I'm Melody.<br /><br />a miniscule amount about me</h2>
    <ul>
        <li>i like <a href="https://open.spotify.com/playlist/5F58gGO1Wtp72Bgw8xkW6C" target="_blank" title="not making it or anything; ive tried. im just an enjoyer.">music</a></li>
        <li>i like technology/hacking (though i don't know how to... yet)</li>
        <li>ultimate gamer (i have my <abbr title="riitag is the funky lil image that shows the 3ds/switch(/eventually wii) games i play. yes, im a nintendo fangirl. yes i know what a shitty company they are. the autism doesn't though.">riitag</abbr> in the footer)</li>
    </ul>
    <h2>cool places i live at</h2>
    <ul>
        <li><a href="https://wasteof.money/@silly" target="_blank">wasting money site</a></li>
        <li>whenthesilly on discord</li>
        <li><a href="https://github.com/whenthesilly" target="_blank">gitted hub</a></li>
        <li><a href="https://scratch.mit.edu/users/whenthesilly/" target="_blank">scratch</a></li>
        <li><a href="https://discord.gg/yAAWRwQSX8" target="_blank">discord server</a></li>
        <li><a rel="me" href="https://transfem.social/@silly" target="_blank">fedded verse</a></li>
        <li><a href="https://en.pronouns.page/@whenthesilly" target="_blank">professional nouns</a></li>
        <li><a href="https://retrospring.net/@whenthesilly" target="_blank">ask me silly questions</a></li>
    </ul>
    <h2>my projects</h2>
    <ul>
        <li><a href="https://github.com/whenthesilly/whenthesilly.github.io">this website</a></li>
        <li><a href="https://github.com/whenthesilly/silly-discord-bot">my silly discord bot</a></li>
        <li><a href="https://github.com/whenthesilly/wasteof.py">wasteof python module</a></li>
    </ul>
    <br />
    <details>
    <summary>note about my blog</summary>
        <p>i never used it, so if i do decide to use it, i'll redo it instead of porting the old version to my new site. sorry that you cant see the placeholder text anymore lmao</p>
    </details>
{% endblock %}